
<div class="list-group">
    <span class="list-group-item bg-dark text-white">Type</span>
    <a href="/Home/Index/true" class="list-group-item list-group-item-dark list-group-item-action font-weight-bold">Movie</a>
    <a href="/Home/Index/false" class="list-group-item list-group-item-dark list-group-item-action font-weight-bold">Series</a>
</div>
