@model FilterViewModel

    <link rel="stylesheet" href="~/css/FilterStyle.css" />

    <div class="bg-dark rounded text-white rounded">
        <span class="list-group-item bg-info text-white">Filter</span>
        <form asp-controller="Home" asp-action="Filter" method="post" class="container p-3">
            <div class="form-group">
                <select class="fa" name="type">
                    <option>Type</option>
                    <option value="all">All</option>
                    <option value="true">Movie</option>
                    <option value="false">Series</option>
                </select>
            </div>
            <div class="form-group">
                <select class="fa" asp-for="CategoryID"
                        asp-items="@(new SelectList(Model.CategoryList, nameof(Category.CategoryID), nameof(Category.CategoryName)))">
                    <option>Select Category</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <select class="fa" name="year">
                    <option>Year</option>
                    <option value="all">All</option>
                    <option value="0">Before 2000</option>
                    <option value="1">2001-2006</option>
                    <option value="2">2007-2012</option>
                    <option value="3">2013-2018</option>
                    <option value="4">2018-2021</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-outline-info btn">Search</button>
            </div>
        </form>
    </div>
