@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
body {
    background: rgb(181,227,227);
    background: linear-gradient(90deg, rgba(181,227,227,1) 0%, rgba(190,221,231,1) 20%, rgba(222,236,241,1) 74%, rgba(127,180,221,1) 100%);
}
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.home-dropdown,.profil-name {
    margin-right:10px !important;
}
.home-dropdown-2 {
    right:0;
}
.pl-3 {
    padding-left: 30px;
}
.details_info {
    text-align:justify;
}