@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
body {
    background: rgb(181,227,227);
    background: linear-gradient(90deg, rgba(181,227,227,1) 0%, rgba(190,221,231,1) 20%, rgba(222,236,241,1) 74%, rgba(127,180,221,1) 100%);
}
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.home-dropdown,.profil-name {
    margin-right:10px !important;
}
.home-dropdown-2 {
    right:0;
}
.pl-3 {
    padding-left: 30px;
}
.pr-3 {
    padding-right:30px;
}
.details_info {
    text-align:justify;
}
.nav-link:hover {
    color: lightslategrey !important;
}
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: inherit;
}
#tbl1 th,#tbl1 td {
    text-align:center;
    vertical-align:middle;
}