@model IEnumerable<Content>

<div class="list-group">
    <span class="list-group-item bg-dark text-white">Movies</span>
    @foreach (var item in Model)
    {
            <a href="/Home/Details/@item.ContentID" class="list-group-item list-group-item-dark list-group-item-action font-weight-bold">@item.Name</a>
    }
</div>
