@{
    if (User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else
    {
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-1">
            @await Component.InvokeAsync("Login")
        </div>
    </div>
</div>
